
.page.theme_light {
    --text-decoration-accent-color: #353430;
    --accent-color: #FF8DCB;
    --content-title-color: #353430;
    --header-title-color: #FFC2E6;
    --cover-image: url("../images/cover-image-light.png");
    --header-title-color-box-shadow: #FF0070;
    --content-text: #353430;
    --hover-menu-rhem-button-color-outline: #32312D66;
}

.page.theme_light .decoration-rec {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-decoration-accent-color: #353430;
        --accent-color: #FF8DCB;
        --content-title-color: #353430;
        --header-title-color: #FFC2E6;
        --cover-image: url("../images/cover-image-light.png");
        --header-title-color-box-shadow: #FF0070;
        --content-text: #353430;
        --hover-menu-rhem-button-color-outline: #32312D66;
    }
    .decoration-rec {
        display: none;
    }
}